{erl_opts, [
		debug_info,
		{src_dirs, [] },
		{i, "deps/amqp_client/include"}
	]}.

{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

{eunit_opts, []}.
{eunit_compile_opts, []}.

{deps, [
   {lager, "0.*",
   		{git, "git://github.com/basho/lager",
		{branch, "master"} } }, 
	{ejson, "0.*",
		{git, "git://github.com/benoitc/ejson",
	    {branch, "master"} } },
	{amqp_client, "1.5.*",
		{git, "git://github.com/arobson/rabbitmq-erlang-client.git", 
		{branch, "master"} } }
]}.