{erl_opts, [
		debug_info,
		{src_dirs, [] },
		{i, "deps/vorperl/include"}
	]}.

{lib_dirs, ["deps"]}.

{sub_dirs, ["rel"]}.

{eunit_opts, []}.
{eunit_compile_opts, []}.

{deps, [
   	{lager, "0.*",
   		{git, "git://github.com/basho/lager",
		{branch, "master"} } }, 
	{vorperl, "0.*",
		{git, "git://github.com/arobson/vorperl",
		{branch, "master"} } }
]}.