{sys, [
      {lib_dirs, ["../deps"]},
      {erts, [{mod_cond, derived},{app_file,strip}] },
      {rel, "vorperl", "1.0",
            [
            kernel,
            stdlib,
            sasl,
            lager,
            crypto,
            ssh,
            inets,
            vorpal]},
      {rel, "start_clean", "", [kernel, stdlib]},
      {boot_rel, "vorperl"},
      {profile, embedded},
      {debug_info, strip},
      {incl_cond, derived}
      ]}.

{target_dir, "vorperl"}.

{overlay, [
          {mkdir, "log/sasl"},
          {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
          {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
          {copy, "files/orcc", "bin/vorperl"},
          {copy, "files/app.config", "etc/app.config"},
          {copy, "files/vm.args", "etc/vm.args"}
]}.